%h4= @news_item.title
%p= @news_item.body
%hr/
%p Все новости Вы можете прочитать в #{link_to 'личном кабинете', new_user_session_url}.
%hr/
%p Это письмо сгенерировано автоматически, не отвечайте на него.