%p Уважаемый клиент, просим Вас оплатить счета в ближайшее время, в противном случае мы будем вынуждены приостановить обслуживание до полной оплаты.
%p Для уточнения информации обращайтесь в бухгалтерию по телефону (044) 495-50-10.
%hr/
%p Это письмо сгенерировано автоматически, не отвечайте на него.