/ CTA Starts
.cta
  .container
    .row
      .span5
        .ctas
          / Title and Para
          %h5 Professional Product Ever Made in Internet
          %p Sed diam nisi, pulvinar vitae molestie vitae molestie hendreri hendrerit, venenatis eget mauris.
      .span4
        .ctas
          / List
          %ul
            %li Very Cheap in Market. Check it today.
            %li Professional and Powerful. Don't miss it.
            %li 1000% Guanrantee. No Worries. No Probs.
      .span3
        .ctas
          / Button
          .button
            %a{:href => "#"} Buy it Today for $99
          %p limited period offer
/ CTA Ends