/ CTA Starts
.cta
  .container
    .row
      .span9
        .ctas{:style => "padding-left: 20px;"}
          / Title and Para
          %h5 Cайт в разработке
          %p А пока мы готовим новую версию, предлагаем воспользоваться старым сайтом.
      / .span4
      /   .ctas
      /     / List
      /     %ul
      /       %li Very Cheap in Market. Check it today.
      /       %li Professional and Powerful. Don't miss it.
      /       %li 1000% Guanrantee. No Worries. No Probs.
      .span3
        .ctas
          / Button
          .button
            %a{:href => "http://ntime.com.ua/", :target => "_blank"} Посетить старый сайт
          / %p limited period offer
/ CTA Ends