/ Flex Slider starts
.container.flex-main
  .row
    .span12
      .flex-image.flexslider
        %ul.slides
          %li
            = image_tag "img/photos/l2.jpg"
            .flex-caption
              %h3 Превосходим ожидания
              %p ЯрТранс Лоджистик
          %li
            = image_tag "img/photos/l1.jpg"
            .flex-caption
              %h3
                Наша доставка &mdash;
                %br
                экономия Ваших ресурсов
              %p ЯрТранс Лоджистик
          %li
            = image_tag "img/photos/l3.jpg"
            .flex-caption
              %h3 Сложное делаем простым
              %p ЯрТранс Лоджистик
          %li
            = image_tag "img/photos/l4.jpg"
            .flex-caption
              %h3 Достигнем успеха вместе!
              %p ЯрТранс Лоджистик