/ Flex Slider starts
.container.flex-main
  .row
    .span12
      .flex-image.flexslider
        %ul.slides
          / Each slide should be enclosed inside li tag.
          / Slide #1
          %li
            / Image
            = image_tag "img/photos/l1.jpg"
            / Caption
            .flex-caption
              / Title
              %h3 God's Own Theme
              / Para
              %p Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.
          / Slide #2
          %li
            = image_tag "img/photos/l2.jpg"
            .flex-caption
              %h3 Powerful and Professional
              %p Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.
          %li
            = image_tag "img/photos/l3.jpg"

            .flex-caption
              %h3 Its a Revolution
              %p Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.
          %li
            = image_tag "img/photos/l4.jpg"
            .flex-caption
              %h3 Lowest Price in Market
              %p Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.
/ Flex slider ends