/ Flex Slider starts
.container.flex-main
  .row
    .span12
      .flex-image.flexslider
        %ul.slides
          %li
            = image_tag "img/photos/l3.jpg"

            / .flex-caption
            /   %h3 Сайт в разработке
            /   %p Мы стремимся делать все для удобства и быстроты обслуживания.