/ Flex Slider starts
.container.flex-main
  .row
    .span12
      .flex-image.flexslider
        %ul.slides
          / Each slide should be enclosed inside li tag.
          / Slide #1
          %li
            / Image
            = image_tag "img/photos/l1.jpg"
            / Caption
            .flex-caption
              / Title
              %h3 Сайт в разработке
              / Para
              %p Мы стремимся делать все для удобства и быстроты обслуживания.
          / / Slide #2
          %li
            = image_tag "img/photos/l2.jpg"
            .flex-caption
              %h3 Сайт в разработке
              %p Мы стремимся делать все для удобства и быстроты обслуживания.
          %li
            = image_tag "img/photos/l3.jpg"

            .flex-caption
              %h3 Сайт в разработке
              %p Мы стремимся делать все для удобства и быстроты обслуживания.
          %li
            = image_tag "img/photos/l4.jpg"
            .flex-caption
              %h3 Сайт в разработке
              %p Мы стремимся делать все для удобства и быстроты обслуживания.
/ Flex slider ends