/ Footer starts
%footer
  .container
    .row
      .span12
        .row
          .span4
            .widget
              %h5 Contact
              %hr/
              %p Praesent ultricies enim ac ipsum aliquet . Nullam justo nunc, dignissim at convallis posuere, sodales eu orci.
              %hr/
              %i.icon-home
              \  123, Some Area. Los Angeles, CA, 54321.
              %hr/
              %i.icon-phone
              \  +239-3823-3434
              %hr/
              %i.icon-envelope-alt
              \ 
              %a{:href => "mailto:#"} someone@company.com
              %hr/
              .social
                %a{:href => "#"}
                  %i.icon-facebook.facebook
                %a{:href => "#"}
                  %i.icon-twitter.twitter
                %a{:href => "#"}
                  %i.icon-linkedin.linkedin
                %a{:href => "#"}
                  %i.icon-google-plus.google-plus
          .span4
            .widget
              %h5 Latest Tweets
              %hr/
              / Below line is produce acutal output
              .tweet
          .span4
            .widget
              %h5 Links Goes Here
              %hr/
              .two-col
                .col-left
                  %ul
                    %li
                      %a{:href => "#"} Condimentum
                    %li
                      %a{:href => "#"} Etiam at
                    %li
                      %a{:href => "#"} Fusce vel
                    %li
                      %a{:href => "#"} Vivamus
                    %li
                      %a{:href => "#"} Pellentesque
                    %li
                      %a{:href => "#"} Vivamus
                .col-right
                  %ul
                    %li
                      %a{:href => "#"} Condimentum
                    %li
                      %a{:href => "#"} Etiam at
                    %li
                      %a{:href => "#"} Fusce vel
                    %li
                      %a{:href => "#"} Vivamus
                    %li
                      %a{:href => "#"} Pellentesque
                    %li
                      %a{:href => "#"} Vivamus
                .clearfix
        %hr/
        / Copyright info
        %p.copy
          Copyright © 2012 |
          %a{:href => "#"} Your Site
          \-
          %a{:href => "#"} Home
          |
          %a{:href => "#"} About Us
          |
          %a{:href => "#"} Service
          |
          %a{:href => "#"} Contact Us
    .clearfix
/ Footer ends
/ Scroll to top
%span.totop
  %a{:href => "#"}
    %i.icon-chevron-up