%header
  .container
    .row
      .span4
        / Logo. Use class "color" to add color to the text.
        .logo
          %h1
            = link_to root_url do
              YAR
              %span.color.bold TRANS
          %p.meta complexity becomes easy
      .span8
        = render :partial => 'shared/main_menu'
/ Seperator
.sep
/ Header ends