%header
  .container
    .row
      .span3
        / Logo. Use class "color" to add color to the text.
        .logo
          %h1
            = link_to root_url do
              = image_tag 'img/top-logo.png'
          / %p.meta complexity becomes easy
      .span9
        = render :partial => 'shared/main_menu'
  / = image_tag 'santa-deer-top.png', class: 'christmas-joke'
        
/ Seperator
.sep
/ Header ends