/ Service style #1 starts
.service-one
  .container
    .row
      - for featured in Article::Category.featured do
        .span4
          = image_tag featured.icon_url(:small)
          %h5= featured.name
          %p= featured.description.truncate(190)
          .button
            = link_to t(:'most_common.readmore'), category_path(featured)
    %hr/
/ Service style #1 ends