/ Service style #1 starts
.service-one
  .container
    .row
      - for root_cat in root_article_categories do
        .span4
          = image_tag root_cat.icon_url(:small)
          %h5= root_cat.name
          %p= root_cat.description.truncate(190)
          .button
            = link_to t(:'most_common.readmore'), category_path(root_cat)
    %hr/
/ Service style #1 ends