/ Service style #1 starts
.service-one
  .container
    .row
      .span4
        / Font awesome icon
        %i.icon-envelope
        / Title
        %h5 Web Designing Service
        / Para
        %p Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula.
        / Button
        .button
          %a{:href => "#"} Check It Out
      .span4
        %i.icon-comments-alt
        %h5 Web Developemnt Service
        %p Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula.
        .button
          %a{:href => "#"} Check It Out
      .span4
        %i.icon-thumbs-up
        %h5 Web Consulting Service
        %p Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula.
        .button
          %a{:href => "#"} Check It Out
    %hr/
/ Service style #1 ends