- set_meta_tags :title => t(:'seo.meta.home_title'), :description => t(:'seo.meta.home_description'), :keywords => t(:'seo.meta.home_keywords'), :separator => '', :reverse => false

- if Rails.env.production?
	= render 'shared/cta'
= render :partial => 'shared/flexslider'
/ = render :partial => 'shared/newsletter'
= render :partial => 'shared/service'
/ = render :partial => 'shared/recent_posts_carusel'
/ = render :partial => 'shared/clients'




