- if @report.report_category_id == 2
	Уважаемый клиент, в Вашем кабинете был добавлен новый счет за оказанные услуги.
	\
	Просим оплатить в течении пяти дней.
- else
	\
	Уважаемый клиент, в Вашем кабинете был добавлен новый отчет за услуги в категории "#{@report.category}".
\
Вы можете скачать его, как приложение к данному письму или в личном кабинете.
\
\
Это письмо сгенерировано автоматически, пожалуйста, не отвечайте на него.