%p Уважаемый клиент компании "Яртранс", в Вашем кабинете был добавлен новый счет за услуги в категории "#{@report.category}".
%p Вы можете скачать его, как приложение к данному письму или в личном кабинете.
%hr/
%p #{link_to 'Перейти в личный кабинет', new_user_session_url}.
%hr/
%p Это письмо сгенерировано автоматически, пожалуйста, не отвечайте на него.