- if @report.report_category_id == 2
	%p Уважаемый клиент, в Вашем кабинете был добавлен новый счет за оказанные услуги.
	%p Просим оплатить в течении пяти дней.
- else
	%p Уважаемый клиент, в Вашем кабинете был добавлен новый отчет за услуги в категории "#{@report.category}".
%p Вы можете скачать его как приложение к данному письму или в личном кабинете.
%hr/
%p #{link_to 'Перейти в личный кабинет', new_user_session_url}.
%hr/
%p Это письмо сгенерировано автоматически, пожалуйста, не отвечайте на него.