.widget
	%h4= link_to t(:'cabinet.release_apps.title'), cabinet_release_apps_path
	%ul
		- release_apps.each do |rel_app|
			%li= link_to rel_app.created_at, cabinet_release_app_path(rel_app)
	= link_to cabinet_release_apps_path do
		= t(:'cabinet.release_apps.show_all')