Заявка ##{@app.id} на выдачу груза принята в обработку.
\==========================================
Дата заполнения: #{l @app.created_at, :format => :short}
\
Количество позиций: #{@app.release_items.count.to_s}
\
\-----------------------------------------------------------
Это письмо сгенерировано автоматически, не отвечайте на него.