/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require _font-awesome
 *= require admin/bootstrap-datetimepicker.min
 *= require prettyPhoto
 *= require flexslider
 *= require slider
 *= require refineslide
 *= require style
 *= require red
 *= require_self
*/

body {

	.nested-fields {
	
		a.remove_fields {
			float: right;
		}
	
	}

	.controls {

		#admission_app_admission_date_3i {
			width: 55px;
		}
		#admission_app_admission_date_2i {
			width: 100px;
		}
		#admission_app_admission_date_1i {
			width: 70px;
		}
		#admission_app_admission_time_4i {
			width: 80px;
		}
		#admission_app_admission_time_5i {
			width: 80px;
		}

		.numeric {
			margin: 0px;
		}

	}


}
