/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require _font-awesome
 *= require admin/bootstrap-datetimepicker.min
 *= require prettyPhoto
 *= require flexslider
 *= require slider
 *= require refineslide
 *= require admin/bootstrap-toggle-buttons
 *= require style
 *= require red
 *= require_self
*/

body {

	font-family: Open Sans;

	.page-head {
		h1, h2 {
			font-size: 20px;
			span.category {
				font-size: 13px;
				// font-weight: normal;
			}
		}
		.page-icon {
			margin-right: 10px;
			float: left;
			img {
				width: 30px;
			}
		}
	}

	.content {
		&.blog {
			h2 {
				font-size: 18px;
			}
			h3 {
				font-size: 16px;
			}
			h4, h5 {
				font-size: 14px;
			}
			p {
				margin-bottom: 6px;
			}
		}
	}

	table {
		caption {
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 10px;
		}
	}


	.navbar .nav>li>a, .navbar .nav>li>a:visited {
		color: #666 !important;
		padding: 15px 13px 15px 2px;
		filter: none !important;
		-webkit-transition: color 1s ease;
		-moz-transition: color 1s ease;
		-o-transition: color 1s ease;
		transition: color 1s ease;
	}

	.navbar .nav>li:last-child>a {
		padding-right: 0;
	}

	.navbar {
		margin-top: 25px;
	}

	.navbar *, .nav-collapse * {
		font-size: 13px !important;
	}

	.content {
		&.blog {
			p {
				&.slogan {
					font-weight: bold;
				}
				&.phones {
					font-size: 14px;
					font-weight: bold;
				}
			}
		}
		&.process {
			.sub-page-block {
				margin-bottom: 20px;
			}
		}
	}

	.nested-fields {
	
		a.remove_fields {
			float: right;
		}
	
	}

	.controls {

		#admission_app_admission_date_3i {
			width: 55px;
		}
		#admission_app_admission_date_2i {
			width: 100px;
		}
		#admission_app_admission_date_1i {
			width: 70px;
		}
		#admission_app_admission_time_4i {
			width: 80px;
		}
		#admission_app_admission_time_5i {
			width: 80px;
		}
		#release_app_release_date_3i {
			width: 55px;
		}
		#release_app_release_date_2i {
			width: 100px;
		}
		#release_app_release_date_1i {
			width: 70px;
		}
		#release_app_release_time_4i {
			width: 80px;
		}
		#release_app_release_time_5i {
			width: 80px;
		}

		.numeric {
			margin: 0px;
		}

	}

	ul#floating-toolbar{  
	  position:fixed;  
	  left: 0px;
	  top: 165px;
	  li {
	  	list-style: none;
	  	a {
		  	background: #ffffff;
		  	&:hover {
		  		background: #ff5d5e;
		  	}
	  	}
	  }
	}  


}