.mainbar
	.page-head
		%h2.pull-left
			%i.icon-table
			Edit User
		-#.bread-crumb.pull-right
			%a{:href => "index.html"}
				%i.icon-home
			%span.divider /
			%a.bread-current{:href => "#"} Edit User
		.clearfix

	.matter
		.container-fluid
			.row-fluid
				.span12
					.widget
						.widget-head
							User edition form
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						.widget-content
							.padd

								= render 'admin/users/user_form'

							.widget-foot
								/ Footer goes here


