.mainbar
	.page-head
		%h2.pull-left
			%i.icon-table
			Edit User
		-#.bread-crumb.pull-right
			%a{:href => "index.html"}
				%i.icon-home
			%span.divider /
			%a.bread-current{:href => "#"} Edit User
		.clearfix

	.matter
		.container-fluid
			.row-fluid
				.span12
					
					= render 'admin/users/user_form'

					


