!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h1
			Новая заявка ##{@app.id} на прием груза (#{@app.user.profile.name})
		%p
			Дата заполнения: #{l @app.created_at, :format => :short}
		%p  
			- if @app.file_url.blank?  
				Количество позиций: #{@app.admission_items.count.to_s}
			- else
				Заявка подана в виде загружаемого файла.
		%hr/
		%p
			Это письмо сгенерировано автоматически, не отвечайте на него.
