%p
	Приветствуем, #{@email}!
%p
	Рады сообщить Вам, что мы зарегистрировали Вас в "Кабинете Клиента" на нашем сайте -
	= link_to 'www.yartrans.ua', 'http://yartrans.ua'
%p
	Мы надеемся, что данный сервис сделает нашу работу эффективней и плодотворней.
%p
	В данном кабинете, вы сможете получать всю необходимую информацию о грузе, счета, бухгалтерские документы, а также сможете подавать заявки на прием/выдачу груза. Заполненный бланк для заявки будет автоматически приходить на склад и дублироваться на Вашу почту.
%p
	По всем вопросам работы «Кабинета клиента», вы всегда можете обратиться по телефону 067 325-10-19 (Марина).
%p
	%b Внимание!
	Чтобы подтвердить свою учетную запись пройдите по ссылке ниже:
%p
	= link_to 'Подтвердить учетную запись', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%hr/

%p
	Это письмо сгенерировано автоматически, не отвечайте на него.