%p
  Приветствуем, #{@resource.email}!
%p Кто-то дал запрос на изменение Вашего пароля учетной записи. Вы можете это сделать пройдя по ссылке ниже.
%p= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @token)
%p Если это сделали не Вы, просто проигнорируйте это письмо и удалите его.
%p Ваш пароль не изменится до тех пор, пока не нажата указанная ссылка.
